ul { list-style: none; }
a { text-decoration: none; color:black; }
div { background-color: antiquewhite; letter-spacing: 1.5px; line-height: 40px; text-align: center; }
/* letter-spacing 글자 간격 
    line-height 줄 간격
    text-align 글자 정렬 */